@model DataAccess.ClassMember

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!-- Student Table Area Start Here -->
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Students Data</h3>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>

                <h4>@Html.Raw(ViewBag.err)</h4>
                <div class="form-group new-added-form">
                    <div class="row">
                        @Html.LabelFor(model => model.ClassID, "ClassID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-xl-6 col-lg-6 col-12 form-group">
                            @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="mg-b-20" style="margin-top:20px;">
                    <div class="row gutters-8">
                        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Roll ..." class="form-control">
                        </div>
                        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Name ..." class="form-control">
                        </div>
                        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table display data-table text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input checkAll">
                                        <label class="form-check-label">Student Id</label>
                                    </div>
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Eamil
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in @ViewBag.Student)
                            {
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" name="StudentIds" value="@student.StudentID" class="form-check-input">
                                        <label class="form-check-label">@student.StudentID</label>
                                    </div>
                                </td>
                                <td>
                                    @student.StudentName
                                </td>
                                <td>
                                    @student.Address
                                </td>
                                <td>
                                    @student.Phone
                                </td>
                                <td>
                                    @student.Email
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-12 form-group mg-t-8">
                    <button type="submit" value="Create" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Add Student to Class</button>
                </div>
            </div>
        </div>
    </div>
}
