@model IEnumerable<DataAccess.ClassMember>

@{
    ViewBag.Title = "Index";
}

<div class="form-horizontal">
    <!-- Student Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Display by Class</h3>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>

            <form class="mg-b-20" action="/ClassMembers/Index" method="get">
                <div class="row gutters-8">
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search by Class name ..." class="form-control" name="search_class">
                    </div>
                    <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
                        <input type="search" placeholder="Search by student name ..." class="form-control" name="search_student">
                    </div>
                    <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayNameFor(model => model.Student.StudentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Student.StudentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Student.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Class.ClassName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Student.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Student.Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Student.StudentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Student.StudentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Student.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Class.ClassName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Student.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => student.Student.Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = student.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>