@model DataAccess.Attendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTable.ClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTable.ClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceType.AttendanceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceType.AttendanceTypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
