@model IEnumerable< DataAccess.Parent>

@{
    ViewBag.Title = "Index";
}

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Parent</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>All Parent</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Teacher Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Parent Data</h3>
                </div>
                
            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">
                    
                    <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
                        <input type="text" placeholder="Search ..." class="form-control" name="name" value="@ViewBag.name">
                    </div>

                    <div class="col-2-xxxl col-xl-2 col-lg-3 col-12 form-group">
                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                    </div>
                    <div class="col-2-xxxl col-xl-3 col-lg-3 col-12 form-group">

                        <a href="@Url.Action("Create","ParentTable")" class="btn btn-success fw-btn-fill" role="button" style="min-width:110px">Add Parent</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkAll">
                                    <label class="form-check-label">ID</label>
                                </div>
                            </th>

                            <th>
                                Parent Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Email
                            </th>
                           
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">@item.ParentID</label>
                                    </div>
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    <span> @(item.Gender ? "Male" : "female")</span>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="@Url.Action("Delete", "parentTable", new { id = item.ParentID })"><i class="fas fa-times text-orange-red"></i>Delete</a>
                                            <a class="dropdown-item" href="@Url.Action("Edit", "parentTable", new { id = item.ParentID })"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Teacher Table Area End Here -->

</div>

