@model IEnumerable<DataAccess.Event>
@{
    ViewBag.Title = "Index";
}
@section Styles{

    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #40b754;
        }

        input + .slider {
            background-color: red;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
}
<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Event</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>All Event</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Teacher Table Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>All Event Data</h3>
                </div>

            </div>
            <form class="mg-b-20">
                <div class="row gutters-8">

                    <div class="col-2-xxxl col-xl-3 col-lg-3 col-12 form-group">

                        <a href="@Url.Action("Create","EventTable")" class="btn btn-success fw-btn-fill" role="button" style="min-width:110px">Add Event</a>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table display data-table text-nowrap">
                    <thead>
                        <tr>
                            <th hidden>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input checkAll">
                                </div>
                            </th>
                            <th>EventID</th>
                            <th>
                                EventName
                            </th>
                            <th>
                                startDate
                            </th>
                            <th>
                                endDate
                            </th>

                            <th>
                                status
                            </th>
                            <th>note</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                    </div>
                                </td>
                                <td>@item.EventID</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.startDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.endDate)
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" class="toggle-checkbox" data-id="@item.EventID" @(item.status ? "checked" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.note)
                                </td>


                                <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EventID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Teacher Table Area End Here -->

</div>
@section scripts{
    <script type="text/javascript">
    var url = '@Url.Action("UpdateStatus")';
    $('.toggle-checkbox').click(function () {

        var isChecked = $(this).is(':checked'); //CheckBox checked - True or false
        var id = $(this).data('id'); //Get the id of that specific checked row

        $.post(url, { id: id, status: isChecked }, function (response) {
            if (!response.result) {

                toastr.success('Create successful!', 'Success!', {
                    closeButton: true,
                    tapToDismiss: false
                });

            } else {
                toastr.error('Create failed!', 'Error!', {

                    closeButton: true,
                    tapToDismiss: false
                });
            }
        })
    });
    </script>
}